@tailwind preflight;
/*****************************
 *    Here Your write a code  *
 *    Here Your Import Like   *
 *    @import 'component.css' *
 *****************************/
* {
    font-family: Roboto, sans-serif; 
}

body { 
    @apply bg-white; 
}
a {
    @apply no-underline; 
}

.brand{
    @apply flex flex-col items-center justify-center; 
    &:hover, &:focus{
        @apply text-black;  
    }
}

body {
    overflow: scroll;
    @apply h-screen; 
}

.social {
    @apply flex items-center justify-around list-reset;
    li{
        @apply text-white;  
    }

}

header, .header { 
    @apply w-full flex flex-col 
           justify-center items-center 
           shadow-md shadow leading-tight px-4 py-2;
    min-height: 10%; 
    background-color: #F2F2F2; 

    h1,h2,h3,h4,p {

        @apply text-grey-darkest; 

    }

    h1 { 

        @apply text-center font-semibold text-3xl tracking-tight; 

    }

    h2 { 
        @apply font-light text-3xl text-center text-grey-lightest;

    }

    a {
        @apply font-light text-grey-darker  cursor-pointer; 
        &:hover, &:focus {
            @apply font-semibold;  
        }
    }

    .nav {
        @apply w-full   border-t-2 border-b-2 border-grey-darker items-center; 
        @screen md{
            @apply flex justify-center w-2/3;
        }
        @screen lg{
            @apply flex justify-center w-2/3;
        }
        ul {
            @apply flex flex-wrap list-reset my-4 justify-between;

            @screen md{
                @apply inline-flex justify-center; 
            }
            @screen lg{
                @apply inline-flex justify-center; 
            }
            li {
                @apply text-sm;  
            }
            @screen md{
                li { @apply text-2xl mr-4;  }
                li:after{
                    content: '\2205'; 
                    width: 100%;
                    position: relative;
                    right: -9%;
                }
                li:last-child{
                    margin-right: 0; 
                    &:after{
                        content: '';  
                    }
                } 
            }
            @screen lg{
                li { @apply text-2xl mr-4;  }
                li:after{
                    content: '\2205'; 
                    width: 100%;
                    position: relative;
                    right: -9%;
                }
                li:last-child{
                    margin-right: 0; 
                    &:after{
                        content: '';  
                    }
                } 
            }

        } 
    }

}
.pages {
    @apply flex justify-center  w-full; 
    background-color: #FFF; 
    min-height: 73%; 
    p {
        @apply text-grey-darkest;  
    }
}
.pages.instagram {
    @apply flex-wrap; 
    .card-img {
        @apply bg-cover; 
        height: 100%; 
    }
}
.home{
    @apply w-full p-6;
    @screen lg {
        @apply w-2/3 p-4;
    }
    @screen md {
        @apply w-2/3 p-4; 
    }
}
.cards {
    @apply w-full flex flex-wrap p-2 justify-center; 

    @screen md{
        @apply justify-start w-2/3; 
    }

    @screen lg{
        @apply justify-start w-2/3; 
    }
}
.card-ig {
    @apply p-2;
    height: 13rem;
    width: 13rem;
}
.card {

    @apply m-2 mb-4
    overflow-hidden 
    flex flex-col justify-center
    w-full border-solid border-2 border-grey-lighter
    h-auto; 
    transition: border 1.5s ease-out; 
    max-height: 70%; 

    @screen md {
        @apply flex-row inline-flex;
    }

    @screen lg {
        @apply flex-row inline-flex;
    }
    &:hover, &:focus{
        @apply cursor-pointer border-grey-darker;   
    }

    .card-img { 
        @apply w-full 
        bg-contain
        bg-no-repeat
        bg-center
        bg-transparent;
        min-height: 8rem;
        opacity: 0;
        transition: opacity .3s;
    }
    .card-body {

        @apply px-6 py-4 w-full;

        .card-title { @apply font-semibold text-xl mb-2; }

        .card-caption { @apply text-grey-darker text-base font-light; }

    }
    
    .card-footer{
        @apply pt-2 flex flex-col;
        ul, .author {
            @apply flex inline-flex justify-start;
        }
        .card-tags { 
            @apply inline-block 
                   bg-grey-lighter  
                   px-3 py-1 text-xs
                   font-semibold text-grey-darker 
                   my-2 mx-1;
            &:first-child{
                margin-left: 0;  
            }

            &:before{
                content: '#'; 
            }
        }    
    }

}

#r00t {
    @apply h-full;
}
footer {
    @apply w-full flex items-center justify-center bg-black flex-col;  

    .footer-content {
        @apply w-2/3;  
    }
    
}
@tailwind utilities;
@tailwind screens;
