@tailwind preflight;
/*****************************
 *    Here Your write a code  *
 *    Here Your Import Like   *
 *    @import 'component.css' *
 *****************************/
$blue-gradient: linear-gradient(#4568dc, #b06ab3);
$blue-skies:    linear-gradient(to right,#56ccf2, #2f80ed);


$primary-color: $blue-skies;
* {
    font-family: Roboto, sans-serif; 
}

body { 
    @apply bg-white; 
}
a {
    @apply no-underline; 
}

.brand{
    @apply flex flex-col items-center justify-center; 
    &:hover, &:focus{
        @apply text-black;  
    }
}

body {
    overflow: scroll;
    @apply h-screen; 
}

header, .header { 

    @apply w-full flex flex-col justify-center items-center shadow-md shadow-inner leading-tight p-6 pb-6;
    min-height: 8rem;  
    background-color: #F2F2F2; 

    h1,h2,h3,h4,p {

        @apply text-grey-darkest; 

    }

    h1 { 

        @apply text-center font-semibold text-3xl tracking-tight; 

    }

    h2 { 
        @apply font-light text-3xl text-center text-grey-lightest;

    }

    a {
        @apply font-light text-grey-darker  cursor-pointer; 
        &:hover, &:focus {
            @apply font-semibold;  
        }
    }

    .nav {
        @apply w-full   border-t-2 border-b-2 border-grey-darker items-center; 
        @screen md{
            @apply flex justify-center;
            width: 67%; 
        }
        @screen lg{
            @apply flex justify-center;
            width: 67%; 
        }
        ul {
            @apply flex flex-wrap list-reset my-4 justify-between;

            @screen md{
                @apply inline-flex justify-center; 
            }
            @screen lg{
                @apply inline-flex justify-center; 
            }
            li {
                @apply text-sm;  
            }
            @screen md{
            li { @apply text-2xl mr-4;  }
            li:after{
                content: '\2205'; 
                width: 100%;
                position: relative;
                right: -9%;
            }
            li:last-child{
                margin-right: 0; 
                &:after{
                    content: '';  
                }
            } 
            }
            @screen lg{
            li { @apply text-2xl mr-4;  }
                li:after{
                    content: '\2205'; 
                    width: 100%;
                    position: relative;
                    right: -9%;
                }
                li:last-child{
                    margin-right: 0; 
                    &:after{
                        content: '';  
                    }
                } 
            }

        } 
    }

}
.article {
    @apply flex justify-center  w-full; 
    background-color: #FFF; 
}
.cards {
    @apply w-full flex flex-wrap p-2 justify-center; 

    @screen md{
        @apply justify-start w-2/3; 
    }

    @screen lg{
        @apply justify-start w-2/3; 
    }
}
.card {

    @apply m-2 mb-4  max-h-screen 
    overflow-hidden 
    flex flex-col justify-center
    w-full border-solid border-2 border-grey-lighter; 

    @screen md {
        @apply flex-row inline-flex;
    }

    @screen lg {
        @apply flex-row inline-flex;
    }
    &:hover, &:focus{
        @apply cursor-pointer border-grey-darker;   
    }

    .card-img { 
        @apply w-full 
        bg-contain
        bg-no-repeat
        bg-center
        bg-transparent;
        min-height: 8rem;
        opacity: 0;
        transition: opacity .3s;
    }
    .card-body {

        @apply px-6 py-4 w-full;

        .card-title { @apply font-semibold text-xl mb-2; }

        .card-caption { @apply text-grey-darker text-base font-light; }

    }

    .card-footer{

        @apply px-6 py-4;

        .card-tags { @apply inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2; }    
    }

}
@import 'ContentPlaceholder.css'; 
@tailwind utilities;
@tailwind screens;
